* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: url('../img/background_img.png') no-repeat center center;
  background-size: cover;
  text-align: center;
  & h1, p {
    padding: 15px 0;
    font-weight: bolder
  }
}

.main-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 0.61);
  background-size: cover;
  text-align: center;
  height: 90vh;
  & h1, p {
    padding: 25px 0;
    max-width: 90%;
    font-weight: bolder
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  & input,textarea {
    padding: 10px;
    margin: 5px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #333;
  } & button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

.button-next-previus {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.main-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  min-height: 90vh;
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
  padding-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 24vw;
  height: 55vh;
  text-align: center;
  align-items: center;
  margin: 4px 4px;
  justify-content: center;
  background-color: rgba(10, 10, 10, 0.61);
  color: antiquewhite;
  border-radius: 7px;
  & img {
    width: 150px;
  }
  & img:hover {
    transition: 0.8s;
    width: 350px;
  }
  & p {
    max-width: 90%;
  } & button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

.card-details {
  width: 100%;
  align-items: center;
  margin: 14px 4px;
  padding: 10px;
  justify-content: center;
  color: antiquewhite;
  border-radius: 7px;
  & img {
    display: block;
    width: 450px;
    margin: auto;
  }
  & h1 {
    padding: 15px 0;
    font-weight: bolder;
    text-align: center;
  }
}

.card-comments {
  width: 95%;
  align-items: center;
  border: 1px solid #333;
  margin: 10px auto;
  padding: 10px;
  justify-content: center;
  color: antiquewhite;
  border-radius: 7px;
  padding: 7px;
}

.main-details {
  background-color: rgba(10, 10, 10, 0.61);
}
