* {
  margin: 0;
  padding: 0;
}

.main {
  background: url('../img/background_img.png') no-repeat center center;
  background-size: cover;
  text-align: center;
  & h1, p {
    padding: 15px 0;
    font-weight: bolder
  }
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 24vw;
  height: 55vh;
  text-align: center;
  align-items: center;
  margin: 4px 4px;
  justify-content: center;
  background-color: rgba(177, 173, 173, 0.459);
  border-radius: 7px;
  & img {
    width: 150px;
  }
  & img:hover {
    transform: scale(1.1);
    width: 450px;
  }
}
